


.navbar {
    justify-content: space-between;

}
.forms {

    display: flex;

}
form{
    margin: 0 10px;
    color: gray;
}

span {
    font-size: 20px;
    color: white;
}
.profile{
    background-color: cadetblue;
}