


.navbar {
    justify-content: space-between;

}
.forms {

    display: flex;

}
form{
    margin: 0 10px;
    color: gray;
}


.profile{
    background-color: cadetblue;
}

.error {
    color: red;
}
.success {
    color: green;
}